@model Dish
<h1>Add a Dish!</h1>

<form asp-controller ="Dish" asp-action="CreateDish" method="post">
    <label asp-for="Name"></label>
    <span class="text-danger" asp-validation-for="Name"></span>
    <input class ="form-control mb-3" asp-for="Name">

    <label asp-for="ChefId"></label>
    <span class="text-danger" asp-validation-for="ChefId"></span>
    <select class="form-control mb-3" asp-for="ChefId">
        @foreach (Chef item in ViewBag.allChefs)
        {
            <option value="@item.ChefId">@item.FirstName @item.LastName</option>
        }
    </select>

    <label asp-for="Tastiness"></label>
    <span class="text-danger" asp-validation-for="Tastiness"></span>
    <select class ="form-control mb-3" asp-for="Tastiness">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

    <label asp-for="Calories"></label>
    <span class="text-danger" asp-validation-for="Calories"></span>
    <input class ="form-control mb-3" asp-for="Calories">

    <label asp-for="Description"></label>
    <span class="text-danger" asp-validation-for="Description"></span>
    <textarea class ="form-control mb-3" asp-for="Description"></textarea>

    <button class="btn btn-success">Add Dish</button>
</form>